spring.application.name: core-api
#spring.profiles.active: local-dev

spring:
  config:
    import:
      - monitoring.yml
      - logging.yml
      - db-core.yml
  web.resources.add-mappings: false

server:
  tomcat:
    max-connections: 20000
    threads:
      max: 600
      min-spare: 100
jwt:
 secret: {JWT_SECRET}
 expiration-seconds: 36000
 issuer: "nexsol-admin"

---
spring.config.activate.on-profile: local


---
spring.config.activate.on-profile: local-dev


---
spring.config.activate.on-profile: dev


---
spring.config.activate.on-profile: staging


---
spring.config.activate.on-profile: prod

